.vscode
.idea
**/.DS_Store
**/work/
**/transcript
**/*.log
**/*.pb
**/*.mti
#**/*.mpf
**/*.vstf
**/*wlft*
**/*.wlf
**/.nfs*
**/xsim.dir
**/__pycache__
**/tmp
**/tx.sv.bak
**/*.do*
transcript ./work/* *.Xil
*.mpf 
*.mti 
*.log 
*.pb 
*.vstf 
*wlft* *
.wlf 
.nfs* 
*.bak
*.jou 
*.rpt 
*.txt
*.dcp
*.Xil
*.backup.log 
*.txt 
*.rpt 
*.do
transcript ./work/* *.Xil
*.mpf 
*.mti 
*.log 
*.pb 
*.vstf 
*wlft* *
.wlf 
.nfs* 
*.bak
*.jou 
*.rpt 
*.txt
*.dcp
*.Xil
*.backup.log 
*.txt 
*.rpt 