**/.vscode
**/.idea
**/.DS_Store
**/work
**/transcript
**/*.log
**/*.pb
**/*.mti
#**/*.mpf
**/*.vstf
**/*wlft*
**/*.wlf
**/.nfs*
**/xsim.dir
**/__pycache__
**/tmp
**/tx.sv.bak
**/tx_download/debounce.cr.mti
**/tx_download/transcript
**/tx_download/tx_synth.log
**/tx_download/tx_synth_2296226.backup.log
**/tx_download/tx_synth_2297595.backup.log
**/tx_download/tx_synth_2298154.backup.log
**/tx_download/tx_synth_2298558.backup.log
**/tx_download/tx_synth_2298704.backup.log
**/tx_download/uart_transmitter_synth.cr.mti
**/tx_download/vivado.log
**/tx_download/vsim.wlf
**/tx_download/work/@_opt/_data/exempt24120g
**/tx_download/work/@_opt/_data/exemptP0uvQR
**/tx_download/work/@_opt/_data/exemptysKM4D
**/tx_download/work/@_opt/_lib.qdb
**/tx_download/work/@_opt/_lib1_2.qdb
**/tx_download/work/@_opt/_lib1_2.qpg
**/tx_download/work/@_opt/_lib1_2.qtl
**/tx_download/work/@_opt/_lib2_2.qdb
**/tx_download/work/@_opt/_lib2_2.qpg
**/tx_download/work/@_opt/_lib2_2.qtl
**/tx_download/work/@_opt/_lib3_2.qdb
**/tx_download/work/@_opt/_lib3_2.qpg
**/tx_download/work/@_opt/_lib3_2.qtl
**/tx_download/work/@_opt/_lib4_2.qdb
**/tx_download/work/@_opt/_lib4_2.qpg
**/tx_download/work/@_opt/_lib4_2.qtl
**/tx_download/work/@_opt/_lib5_2.qdb
**/tx_download/work/@_opt/_lib5_2.qpg
**/tx_download/work/@_opt/_lib5_2.qtl
**/tx_download/work/@_opt/_lib6_2.qdb
**/tx_download/work/@_opt/_lib6_2.qpg
**/tx_download/work/@_opt/_lib6_2.qtl
**/tx_download/work/@_opt1/_data/exemptD3xyDU
**/tx_download/work/@_opt1/_data/exemptT4gOje
**/tx_download/work/@_opt1/_data/exemptadBSuD
**/tx_download/work/@_opt1/_lib.qdb
**/tx_download/work/@_opt1/_lib1_1.qdb
**/tx_download/work/@_opt1/_lib1_1.qpg
**/tx_download/work/@_opt1/_lib1_1.qtl
**/tx_download/work/@_opt1/_lib2_1.qdb
**/tx_download/work/@_opt1/_lib2_1.qpg
**/tx_download/work/@_opt1/_lib2_1.qtl
**/tx_download/work/@_opt1/_lib3_1.qdb
**/tx_download/work/@_opt1/_lib3_1.qpg
**/tx_download/work/@_opt1/_lib3_1.qtl
**/tx_download/work/@_opt1/_lib4_1.qdb
**/tx_download/work/@_opt1/_lib4_1.qpg
**/tx_download/work/@_opt1/_lib4_1.qtl
**/tx_download/work/@_opt1/_lib5_1.qdb
**/tx_download/work/@_opt1/_lib5_1.qpg
**/tx_download/work/@_opt1/_lib5_1.qtl
**/tx_download/work/@_opt2/_data/exemptleLaUE
**/tx_download/work/@_opt2/_data/exemptonn3Tx
**/tx_download/work/@_opt2/_data/exemptyrS7YK
**/tx_download/work/@_opt2/_lib.qdb
**/tx_download/work/@_opt2/_lib1_0.qdb
**/tx_download/work/@_opt2/_lib1_0.qpg
**/tx_download/work/@_opt2/_lib1_0.qtl
**/tx_download/work/@_opt2/_lib2_0.qdb
**/tx_download/work/@_opt2/_lib2_0.qpg
**/tx_download/work/@_opt2/_lib2_0.qtl
**/tx_download/work/@_opt2/_lib3_0.qdb
**/tx_download/work/@_opt2/_lib3_0.qpg
**/tx_download/work/@_opt2/_lib3_0.qtl
**/tx_download/work/@_opt2/_lib4_0.qdb
**/tx_download/work/@_opt2/_lib4_0.qpg
**/tx_download/work/@_opt2/_lib4_0.qtl
**/tx_download/work/_info
**/tx_download/work/_lib.qdb
**/tx_download/work/_lib1_4.qdb
**/tx_download/work/_lib1_4.qpg
**/tx_download/work/_lib1_4.qtl
**/tx_download/work/_vmake
